<div class="container">
    <div class="row">
        <div>
            <h1>Agregar Proyecto</h1>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="imagenProy">Imagen del proyecto</label>
                    <input type="text" class="form-control" id="imagenProy" name="imagenProy" [(ngModel)]="imagenProy" required>
                </div>
                <div class="form-group">
                    <label for="tituloProy">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="tituloProy" name="tituloProy" [(ngModel)]="tituloProy" required>
                </div>
                <div class="form-group">
                    <label for="descripProy">Descripción del proyecto</label>
                    <input type="text" class="form-control" id="descripProy" name="descripProy" [(ngModel)]="descripProy" required>
                </div>


                <div class="botonera">
                    <button class="btn btn-primary">
                        Agregar proyecto
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
