<div class="educacion" id="educacion">
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <h1>Educación
          <button class="btn btn-educacion" type="button" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="fas fa-plus"></i>
          </button>
      </h1>
      </div>
    </div>

    <li *ngFor="let Educacion of educacion">
      <div class="row">
        <div class="col-sm-12 col-lg-1">
          <img class="img-fluid" src="" alt="fotos">
        </div>
        <div class="col-sm-12 col-lg-7">
          <h2>{{Educacion.cursoEdu}}</h2>
          <h3>{{Educacion.instiEdu}}</h3>
        </div>
        <div class="col-sm-12 col-lg-4">
          <h4>{{Educacion.fechaEdu}}</h4>
        </div>
      </div>
      <div class="row descripcion">
        <div class="col-sm-12 col-md-11 offset-md-1">
          <p>{{Educacion.descrpEdu}}</p>
        </div>
      </div>
      <div class="row" *ngIf="isLogged">
        <div class="col acciones">
          <button class="btn btn-editar" routerLink="/editedu/{{Educacion.id}}">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-eliminar" (click)="delete(Educacion.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </li>

  </div>
</div>

